:root {
  --normal:#a6a877;
  --grass:#77c850;
  --fire:#ee7f30; 
  --water:#678fee; 
  --electric:#f7cf2e;
  --ice:#98d5d7;
  --ground:#dfbf69;
  --flying:#a98ff0;
  --poison:#a040a0;
  --fighting:#bf3029;
  --psychic:#f65687;
  --dark:#725847;
  --rock:#b8a137;
  --bug:#a8b720;
  --ghost:#6e5896;
  --steel:#b9b7cf;
  --dragon:#6f38f6;
  --fairy:#f9aec7;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: var(--normal);
}

.grass {
    background-color: var(--grass);
}

.fire {
    background-color: var(--fire);
}

.water {
    background-color: var(--water);
}

.electric {
    background-color: var(--electric);
}

.ice {
    background-color: var(--ice);
}

.ground {
    background-color: var(--ground);
}

.flying {
    background-color: var(--flying);
}

.poison {
    background-color: var(--poison);
}

.fighting {
    background-color: var(--fighting);
}

.psychic {
    background-color: var(--psychic);
}

.dark {
    background-color: var(--dark);
}

.rock {
    background-color: var(--rock);
}

.bug {
    background-color: var(--bug);
}

.ghost {
    background-color: var(--ghost);
}

.steel {
    background-color: var(--steel);
}

.dragon {
    background-color: var(--dragon);
}

.fairy {
    background-color: var(--fairy);
}

.grass.poison {
  background: linear-gradient(to bottom right, var(--grass) 0%, var(--grass) 42%, var(--poison));
}

.fire.flying {
  background: linear-gradient(to bottom right, var(--fire) 0%, var(--fire) 42%, var(--flying));
}

.bug.flying {
  background: linear-gradient(to bottom right, var(--bug) 0%, var(--bug) 42%, var(--flying));
}

.bug.poison {
  background: linear-gradient(to bottom right, var(--bug) 0%, var(--bug) 42%, var(--poison));
}

.normal.flying {
  background: linear-gradient(to bottom right, var(--normal) 0%, var(--normal) 42%, var(--flying));
}

.poison.ground {
  background: linear-gradient(to bottom right, var(--poison) 0%, var(--poison) 42%, var(--ground));
}

.normal.fairy {
  background: linear-gradient(to bottom right, var(--normal) 0%, var(--normal) 42%, var(--fairy));
}

.poison.flying {
  background: linear-gradient(to bottom right, var(--poison) 0%, var(--poison) 42%, var(--flying));
}

.bug.grass {
  background: linear-gradient(to bottom right, var(--bug) 0%, var(--bug) 42%, var(--grass));
}

.water.fighting {
  background: linear-gradient(to bottom right, var(--water) 0%, var(--water) 42%, var(--fighting));
}

.water.poison {
  background: linear-gradient(to bottom right, var(--water) 0%, var(--water) 42%, var(--poison));
}

.rock.ground {
  background: linear-gradient(to bottom right, var(--rock) 0%, var(--rock) 42%, var(--ground));
}

.ground .rock{
  background: linear-gradient(to bottom right, var(--ground) 0%, var(--ground) 42%, var(--rock));
}

.water.psychic {
  background: linear-gradient(to bottom right, var(--water) 0%, var(--water) 42%, var(--psychic));
}

.electric.steel {
  background: linear-gradient(to bottom right, var(--electric) 0%, var(--electric) 42%, var(--steel));
}

.water.ice {
  background: linear-gradient(to bottom right, var(--water) 0%, var(--water) 42%, var(--ice));
}

.ghost.poison {
  background: linear-gradient(to bottom right, var(--ghost) 0%, var(--ghost) 42%, var(--poison));
}

.grass.psychic {
  background: linear-gradient(to bottom right, var(--grass) 0%, var(--grass) 42%, var(--psychic));
}

.psychic.fairy {
  background: linear-gradient(to bottom right, var(--fairy) 0%, var(--fairy) 42%, var(--fairy));
}

.ice.psychic {
  background: linear-gradient(to bottom right, var(--ice) 0%, var(--ice) 42%, var(--psychic));
}

.water.flying {
  background: linear-gradient(to bottom right, var(--water) 0%, var(--water) 42%, var(--flying));
}

.rock.water {
  background: linear-gradient(to bottom right, var(--rock) 0%, var(--rock) 42%, var(--water));
}

.rock.flying {
  background: linear-gradient(to bottom right, var(--rock) 0%, var(--rock) 42%, var(--flying));
}

.ice.flying {
  background: linear-gradient(to bottom right, var(--ice) 0%, var(--ice) 42%, var(--flying));
}

.electric.flying {
  background: linear-gradient(to bottom right, var(--electric) 0%, var(--electric) 42%, var(--flying));
}

.dragon.flying {
  background: linear-gradient(to bottom right, var(--dragon) 0%, var(--dragon) 42%, var(--flying));
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
  border-block: outset;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
